.image-column {
    z-index: 1;
    & img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.image-5 {
    position: absolute;
}

.last-image {
    display: none;
    @media (--b-laptop) {
        display: block;
    }
}
