.location {
    & .bottom-column {
        margin-top: 2em;
    }
    & p, & li {
        font-size: 82%;
    }
    & .section-heading {
        & span {
            background: #fff;
            position:relative;
            padding-right: .23em;
        }
        &:before {
            position: absolute;
            left: 20px;
            right: 30px;
            top: .62em;
            height: 1px;
            background: var(--c-red);
            content: "";
        }
    }
}

#map {
    width: 100%;
    height: 300px;
    @media (--b-tablet) {
        height: 420px;
    }
}
